body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Nanum Myeongjo',
  serif;
}

.header-title {
  color: purple;
  font-size: 24px;
  margin-left: 20px;
}

.skull {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city-preview {
  width: 60vw;
  height: 400px;
  margin: 15px auto;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.city-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFC476;
  font-size: 60px;
}

.city-img {
  top: 50%;
  /* left: 50%; */
  transform: translate(0, -25%);
}

.city-container {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.city-stats {
  margin: 10px auto;
  padding: 0 10px;
}

.city-stats-text {
  font-size: 22px;
  margin: 10px auto;
}

.button {
    border: 1px solid black;
    font-size: 13px;
    max-width: 250px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    transition: all 0.25s ease;
    background: #e7961b;
}
.button:hover {
    background-color: blue;
    color: white;
  }