body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald',
  sans-serif;

}

.header-title {
  color: purple;
  font-size: 24px;
  margin-left: 20px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city-preview {
  width: 60vw;
  height: 400px;
  margin: 15px auto;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.city-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFC476;
  font-size: 60px;
}

.city-img {
  top: 50%;
  /* left: 50%; */
  transform: translate(0, -25%);
}

.city-container {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.city-stats {
  margin: 10px auto;
  padding: 0 10px;
}

.city-stats-text {
  font-size: 22px;
  margin: 10px auto;
}

.city-button {
    border: 1px solid black;
    max-width: 250px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    transition: all 0.25s ease;
    background: #ffb10a;
    text-decoration: none;
}

.city-button:hover {
  background-color: rgb(38, 52, 247);
  

  color: white;
}

.city-button-2 {
  border: 1px solid black;
  max-width: 250px;
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  transition: all 0.25s ease;
  background : rgb(38, 52, 247);
}

.city-button-2:hover {
  background-color: #ffb10a;
  
  color: white;
}

.delete {
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 20%;
    max-width: 100px;
    min-width: 50px;
    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: all 0.25s ease;
    background: rgb(247, 38, 38);
}

.ImagePost {
  margin-bottom: 20px;
  margin: 0px 500px 0px 500px;
  padding-top: 20px;
}

.post-title {
  color: #ffb10a;
  font-weight: bold;
  margin: 0px 500px 0px 500px;
  font-size: 25px;
  text-decoration: underline;
}

.post-text {
  margin: 0px 500px 0px 500px;
  
}

